* {
    margin: 0;
    padding: 0;
}
.content {
    width: 1226px;
    margin: 0 auto;
    position: relative;
}
li {
    list-style: none;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
a:-webkit-any-link {
    text-decoration: none;
}
