.toolbar{
    position: fixed;
    right: 0;
    top: 35vh;
}
.toolbar li{
    height: 86px;
    width: 84px;
    color: #757575;
    font-size: 14px;
    border: 1px solid rgb(245,245,245);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.3s;
}
.toolbar li:hover {
    color: rgb(255,103,0);
    transition: all 0.3s;
}
/*顶栏*/
.topbar {
    height: 40px;
    background-color: rgb(51,51,51);
    font-size: 12px;
    color: rgb(176, 176, 176);
    line-height: 40px;
}
.topbar a:hover {
    color: white;
    cursor: pointer;
}
.topbar-link li{
    float: left;
}
.topbar-link a {
    padding: 0 7px;
}
.topbar-link span{
    color: #424242;
}
.topbar-right {
    float: right;
    margin-right: 20px;
}
.topbar-shopper {
    background-color: rgb(66,66,66);
    width: 120px;
    height: 40px;
    float: right;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.topbar-shopper:hover {
    background-color: rgb(255,255,255);
    color: rgb(255,103,0);
}
.topbar-shopper i{
    margin-right: 5px;
}
.cart {
    width: 300px;
    height: 0;
    position: absolute;
    right: 0;
    top: 40px;
    overflow: hidden;
    color: black;
    text-align: center;
    box-shadow: 0 15px 30px rgb(0 0 0 / 10%);
    transition: all 1s;
    z-index: 1;
    background-color: #fff;
    line-height: 100px;
}
.topbar-shopper:hover  ~ .cart{
    height: 100px;
    transition: all 1s;
}
/*logo导航栏*/
.logoNav {
    padding: 22px 8vw 18px 8vw;
    position: relative;
}
.logo {
    width: 56px;
    height: 56px;
    margin: 0 180px 0 4px;
}
.logoNav-ul {
    display: inline-block;
    line-height: 56px;
}
.logoNav-ul li{
    float: left;
    margin-right: 20px;
    transition: color 0.3s;
}
.logoNav-ul li:hover {
    cursor: pointer;
    color: rgb(255,103,0);
    transition: color 0.3s;
}
.search {
    width: 296px;
    height: 48px;
    float: right;
    border: 1px solid rgb(224,224,224);
    position: relative;
    transition: 0.3s all;
}
.logoNav-input{
    position: absolute;
    right: 120px;
    top: 2px;
    width: 150px;
    height: 25px;
    border: none;
    padding: 10px;
}
.search:hover{
    border: 1px solid rgb(176,176,176);
    transition: 0.3s all;
}
.search:hover .searchBtn{
    border-left: 1px solid rgb(176,176,176);
    transition: 0.3s all;
}
.logoNav-input:focus {
    outline: none;
}
.logoNav-input:focus ~ .search{
    border: 1px solid rgb(255,103,0);
}
.searchBtn {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
    top: -1px;
    border-left: 1px solid rgb(224,224,224);
    line-height: 50px;
    text-align: center;
    transition: 0.3s all;
}
.searchBtn:hover {
    background-color: rgb(255,103,0);
    cursor: pointer;
    transition: 0.3s all;
}
/*轮播导航*/
.midNav {
    width: 234px;
    height: 460px;
    background-color: rgba(63,61,61,0.8);
    position: absolute;
    left: 0;
    z-index: 3;
}

.midNav-left {
    width: 992px;
    height: 460px;
    background-color: #FFF;
    position: absolute;
    left: 234px;
    top: -20px;
    display: none;
    color: black;
    font-size: 40px;
    line-height: 460px;
    text-align: center;
    box-shadow: 0 15px 30px rgb(0 0 0 / 10%);
}
.midNav-left ul {
    display: flex;
    flex-wrap: wrap;
}
.midNav-left li{
    width: 240px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 30px;
}
.midNav-left li span{
    color: black;
    font-size: 14px;
    transition: all .3s;
    line-height: 40px;
}
.midNav-left li span:hover {
    color: #ff6700;
    cursor: pointer;
    transition: all .3s;
}
.midNav li:nth-child(1):hover .midNav-phone{
    display: block;
}
.midNav li:nth-child(2):hover .midNav-tv{
    display: block;
}
.midNav li:nth-child(3):hover .midNav-pad{
    display: block;
}
.midNav li:nth-child(4):hover .midNav-out{
    display: block;
}
.midNav li:nth-child(5):hover .midNav-ear{
    display: block;
}
.midNav li:nth-child(6):hover .midNav-home{
    display: block;
}
.midNav li:nth-child(7):hover .midNav-smart{
    display: block;
}
.midNav li:nth-child(8):hover .midNav-power{
    display: block;
}
.midNav li:nth-child(9):hover .midNav-child{
    display: block;
}
.midNav li:nth-child(10):hover .midNav-life{
    display: block;
}
.midNav ul{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.midNav-item{
    padding-left: 30px;
    height: 42px;
    width: 204px;
    color: white;
    line-height: 42px;
    font-size: 14px;
}
.midNav-item::after {
    content: '>';
    float: right;
    margin-right: 20px;
}
.midNav-item:hover{
    background-color: rgb(255,103,0);
}
/*轮播*/
.swiper {
    width: 100%;
    height: 460px;
    --swiper-navigation-color: grey;
    --swiper-navigation-size: 24px;
}
.swiper-slide img{
    width: 100%;
}
.swiper-button-prev {
    margin-left: 234px;
}
.swiper-pagination{
    position: absolute;
    right: 0;
}
.mid-more{
    height: 170px;
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.mid-more--left{
    height: 170px;
    width: 234px;
    background-color: rgb(95,87,80);
}
.mid-more--left li{
    width: 76px;
    height: 81px;
    float: left;
    color: white;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    transition: opacity 0.3s;
    border: 1px solid #665e57;
}
.mid-more--left li:hover {
    opacity: 1;
    cursor: pointer;
    transition: opacity 0.3s;
}
.mid-more--left li img {
    width: 24px;
    height: 24px;
    margin-bottom: 3px;
}
.mid-more img {
    width: 316px;
    height: 170px;
}

/*产品*/
.products{
    background-color: rgb(245,245,245);
    height: 7095px;
    width: 100%;
    margin-top: 25px;
}
.productsBanner{
    height: 120px;
    margin-top: 30px;
}
.products-item {
    margin-top: 20px;
    position: relative;
}
.productsSwitch{
    position: absolute;
    right: 0;
    top: 0;
    height: 42px;
    line-height: 58px;
}
.products-item h2{
    height: 58px;
    line-height: 58px;
    font-size: 22px;
    font-weight: 200;
    display: inline-block;
}
.products-item h2 span{
    font-size: 16px;
    position: absolute;
    right: 0;
}
.products-item h2 span:hover{
    color: rgb(255,103,0);
    transition: all 0.3s;
    cursor: pointer;
}
.products-item h2 span:hover .moreIcon{
    background-color: rgb(255,103,06);
    transition: all 0.3s;
}
.moreIcon{
    background-color: rgb(176,176,176);
    border-radius: 50%;
    color: white;
    font-size: 13px;
    padding: 4px;
    margin-left: 2px;
    transition: all 0.3s;
}
.products-item--content {
    height: 614px;
    display: flex;
}
.products-item--content ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    position: relative;

}
.products-ul1{
    width: 992px;
    padding-left: 15px;
}
.products-ul2{
    width: 1226px;
}

.products-item--content li{
    background-color: #fff;
    width: 234px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s
}
.products-item--content img {
    transition: all 0.3s;
}
.products-item--content li:hover, .products-item--contentLeft:hover, .videos li:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgb(0 0 0 / 10%);
    transition: all 0.3s;
    cursor: pointer;
}

.products-item--content li img{
    width: 160px;
    height: 160px;
    margin-bottom: 10px;
}
.products-item--content li h5{
    line-height: 21px;
}
.products-item--content li h6{
    line-height: 18px;
    color: #b0b0b0;
}
.price{
    line-height: 40px;
    color: #ff6700;
}
.price span,.price-delete{
    line-height: 40px;
    font-size: 14px;
    color: #b0b0b0;
    text-decoration: line-through;
}
.toMore {
    height: 143px !important;
    flex-direction: row !important;
    justify-content: space-around !important;
}

.toMore-left {
    display: inline-block;
}
.toMore-seeMore {
    font-size: 18px;
}
.toMore-hot {
    font-size: 12px;
    color: #757575;
}
.toMoreIcon {
    color: rgb(255,103,0);
    border: 3px solid rgb(255,103,0);
    padding: 6px;
    border-radius: 50%;
    display: inline-block;
}
.toMoreLast {
    position: absolute;
    right: 0;
    bottom: 0;
}

.productsSmall {
    height: 143px !important;
    flex-direction: row !important;
    justify-content: space-around !important;
}
.productsSmall-left {
    width: 94px;
    padding-left: 15px;
}
.productsSmall-title {
    font-size: 14px;
}
.productsSmall-price {
    color: #ff6700;
}
.productsSmall img {
    width: 80px !important;
    height: 80px !important;
}

/*产品-右上角切换*/
.wearPart{
    display: none !important;
}
.wearPart li:last-child {
    visibility: hidden;
}

.wearText, .wearHotText{
    width: 2em;
}
.wearText:hover, .wearHotText{
    color: #ff6700;
    border-bottom: 2px solid #ff6700;
}
.wearHotText{
    margin-right: 60px;
}
.wearText:hover ~ .wearHot{
    display: none !important;
}
.wearText:hover ~ .wearPart{
    display: flex !important;
}

.appliance-leftImg {
    width: 234px !important;
    height: 300px !important;
    display: block !important;
}
.videos ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.videos li {
    width: 296px;
    height: 285px;
    background-color: #fff;
    display: inline-block;
    transition: all 0.3s;
    position: relative;
}

.videoCover {
    width: 100%;
}
.videosPlay {
    position: absolute;
    left: 20px;
    bottom: 120px;
    width: 32px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 12px;
    background-color: rgba(0,0,0,.6);
    transition: all .3s;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.videos li:hover .videosPlay{
    background-color: rgba(255,103,0,1);
    border: 2px solid rgba(255,103,0,1);
    transition: all .3s;
}
.videoTitle {
    text-align: center;
    font-size: 14px;
    margin-top: 30px;
}
/*底部*/
.footer {
    height: 472px;
}
.serve {
    border-bottom: 1px solid rgb(224,224,224);
    height: 25px;
    padding: 27px 0;
}
.serve li {
    display: inline-block;
    width: 240px;
    font-size: 16px;
    color: #616161;
    text-align: center;
    border-right: 1px solid rgb(224,224,224);
    transition:  all .3s;
}
.serve li i,span{
    vertical-align: middle;
}
.serve li:hover {
    color: rgba(255,103,0,1);
    cursor: pointer;
    transition:  all .3s;
}
.footer dl {
    width: 160px;
    display: inline-block;
}
.footer dt {
    font-size: 14px;
    line-height: 1.25;
    color: #424242;
}
.footer dd {
    color: #757575;
    font-size: 10px;
    margin-top: 10px;
}
.footerLink {
    display: flex;
    padding: 40px 0 0 180px;
}
.footerLink dd:hover{
    color: #ff6700;
    cursor: pointer;
}
.call {
    height: 80px;
    padding-left: 30px;
    border-left: 1px solid rgb(224,224,224);
    text-align: center;
}
.call div:first-child {
    font-size: 22px;
    color: #ff6700;
}
.call p {
    font-size: 12px;
    color: #616161;
    line-height: 30px;
}
.call div:last-child{
    width: 120px;
    height: 30px;
    border: 1px solid #ff6700;
    color: #ff6700;
    font-size: 12px;
    line-height: 30px;
    margin: 0 auto;
    transition: all .3s;
}
.call div:last-child:hover{
    background-color: #ff6700;
    color: white;
    transition: all .3s;
    cursor: pointer;
}
    /*网站信息*/
.siteInfo {
    height: 266px;
    width: 100%;
    background-color: rgb(250,250,250);
    padding-top: 30px;
}
.siteInfo-logo {
    width: 56px;
    height: 56px;
    position: absolute;
    top: 0;
}
.siteInfo-right {
    padding-top: 30px;
    display: inline-block;
    margin-left: 70px;
    margin-top: -30px;
    line-height: 1.6;
}
.siteInfo-link {
    font-size: 12px;
    color: #757575;
}
.siteInfo-detail {
    color: #b0b0b0;
    font-size: 12px;
}
.siteInfo-slogan {
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    margin-top: 80px;
}
