.top {
  height: 52.53vw;
  background-color: #fc3f3f;
  position: relative;
  overflow: hidden;
}
.top .top-icon {
  position: relative;
}
.top .top-icon img {
  position: absolute;
}
.top .top-icon img:nth-child(1) {
  left: 3.47vw;
  top: 2.67vw;
  width: 7.2vw;
  height: 7.2vw;
}
.top .top-icon img:nth-child(2) {
  width: 5.47vw;
  height: 5.33vw;
  top: 3.33vw;
  right: 12.81vw;
}
.top .top-icon img:nth-child(3) {
  width: 5.47vw;
  height: 5.33vw;
  top: 3.33vw;
  right: 3.87vw;
}
.top .info {
  position: absolute;
  top: 19.73vw;
  left: 5.53vw;
  display: flex;
  align-items: center;
}
.top .info .info-avatar {
  width: 16.67vw;
  height: 15.73vw;
}
.top .info .info-user {
  margin-left: 2.8vw;
  height: 15.73vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.top .info .info-user .info-username {
  font-size: 4.53vw;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0vw;
  color: #ffffff;
}
.top .info .info-user .info-username img {
  width: 3.33vw;
  height: 3.33vw;
}
.top .info .info-user .info-lv {
  width: 17.6vw;
  height: 5.33vw;
  line-height: 5.33vw;
  text-align: center;
  background-color: #362d2d;
  border-radius: 2.67vw;
  font-size: 2.93vw;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0vw;
  color: #ffe9af;
}
.top .vip {
  width: 94.67vw;
  height: 26.27vw;
  background-color: #362d2d;
  border-radius: 2.67vw;
  position: absolute;
  bottom: -15vw;
  left: 50%;
  transform: translateX(-50%);
}
.top .vip .vipContainer {
  display: flex;
  align-items: center;
  height: 11vw;
  margin-left: 4vw;
}
.top .vip .vipContainer img {
  width: 4.93vw;
  height: 4.27vw;
}
.top .vip .vipContainer .vip-title {
  font-size: 4vw;
  font-weight: normal;
  font-stretch: normal;
  color: #ffe9af;
  margin-left: 0.93vw;
}
.top .vip .vipContainer .vip-open {
  width: 18.53vw;
  height: 5.2vw;
  line-height: 5.2vw;
  text-align: center;
  background-color: #ffe9af;
  border-radius: 2.6vw;
  margin-left: 30.53vw;
  font-size: 3vw;
  font-weight: normal;
  font-stretch: normal;
  color: #362d2d;
}
.personData {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 86.53vw;
  height: 13.8vw;
  margin: 4.27vw auto;
}
.personData .personData-item {
  text-align: center;
  width: 14.13vw;
}
.personData .personData-item div:nth-child(1) {
  font-size: 4.8vw;
  font-weight: normal;
  font-stretch: normal;
  color: #333333;
}
.personData .personData-item div:nth-child(2) {
  font-size: 3.47vw;
  font-weight: normal;
  font-stretch: normal;
  color: #999999;
  margin-top: 3.53vw;
}
.tab {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
  height: 16.67vw;
  background: url('../assets/index/椭圆28@2x.png') no-repeat;
  background-size: cover;
  position: fixed;
  bottom: 0;
}
.tab .tabItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-size: 2.67vw;
  font-weight: normal;
  font-stretch: normal;
  color: #333333;
}
.tab .tabItem img {
  width: 5.87vw;
  height: 5.87vw;
}
.tab .tabItem .tabActive {
  color: #fc3f3f;
}
.tab .tabItem div {
  margin: 1.2vw 0 0.8vw 0;
}
.tab .vipIcon {
  margin-left: 2vw;
}
.tab .vipIcon img {
  width: 10vw;
  height: 10vw;
}
/*# sourceMappingURL=me.css.map */